@font-face{
    font-family: 'FiraSans';
    src : url("../font/FiraSans-Regular.otf");
}

@font-face{
    font-family: 'FiraSans';
    src : url("../font/FiraSans-Bold.otf");
    font-weight: bold;
}

@font-face{
    font-family: 'Iosevka';
    src: url('../font/iosevka-ss01-regular.ttf');
}

/* Body */
body{
    background-color: rgb(29, 29, 29);
    font-size: 20px;
    color: #f1f1f1;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'FiraSans';
    font-size: 25px;
    font-weight: bold;
    color: #f8b400;
}

/*Paragraphs and bullets*/
p, ul {
    font-family: 'FiraSans';
    font-size: inherit;
    color: inherit
}

/*Links */
.link-icon {
    max-height: 20px;
    margin-right: 10px;
}

a:hover {
    color: #f8b400;
    text-decoration: none;
}

/*Form*/
.btn, .form-control {
    font-family: 'FiraSans';
    font-size: 17px;
    color: #faf5e4;
}

.modal-content {
    background-color: rgb(29, 29, 29);
    border-color: rgb(70, 70, 70);
}

row {
    margin: 0 auto;
}


.link-selected:not(h2) {
    font-family: 'FiraSans';
    color: #f8b400;
    font-size: inherit;
    font-weight: bold;
}

.link-selected:hover {
    color: #f8b400;
    text-decoration: none;
}

.link-not-selected {
    font-family: 'FiraSans';
    font-size: inherit;
}

.link-not-selected:hover {
    color: #f8b400;
    text-decoration: none;
}

.banner {
    width: 250px;
    margin-right: 10px;
}

hr{
    opacity: 0.5;
}

.credit{
    opacity: 0.5;
    font-size: 15px;
}

.btnPlayer{
    font-size: 15px;
    opacity: 0.5;
}

@media screen and (max-width: 767px){
    .btn, .form-control{
        font-size: 3vw;
        color: #faf5e4;
    }

    body{
        font-size: 4vw;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 4.5vw;
    }

    .link-icon {
        max-height: 4vw;
    }

    li {
        margin-left: -1em;
    }    

    .btnPlayer{
        font-size: 10px;
    }

    .banner{
        width: 150px;
    }
    .credit{
        font-size: 13px;
        font-style: normal;
    }
}