RewriteEngine on 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]

RewriteRule posts/(.*?) post/$1/index.html
RewriteRule posts posts/myPosts.html
RewriteRule products products/myProducts.html
RewriteRule error404 notAvailable.html
RewriteRule (.*?) products/$1/index.html

ErrorDocument 404/notAvailable.html