@use "colors.scss";
@use "utils.scss";

@font-face {
    font-family: "Fira Sans";
    src: url("/assets/fonts/FiraMono-Regular.ttf");
}

@font-face {
    font-family: "Fira Sans";
    src: url("/assets/fonts/FiraMono-Bold.ttf");
    font-weight: bold;
}

body {
    background-color: colors.$background-color;
    color: colors.$foreground;
    font-family: "Fira Sans", "Courier New", Courier, monospace;
    margin-left: 1em;
    counter-reset: section;
}

@include utils.ahover(colors.$foreground, colors.$background-color);
a {
    text-decoration-line: underline;
    text-decoration-style: dotted;  
    text-underline-offset: 3px;
}

.container {
    margin: auto;
    @media screen and (min-width: 600px) {
        max-width: 90vw;
    }

    @media screen and (min-width: 1200px) {
        max-width: 70vw;
    }

    @media screen and (min-width: 1400px) {
        max-width: 60vw;
    }
}

#main-body {
    display: flex;

    .section-navigation { 
        max-width: fit-content;
    }

    @media screen and (min-width: 600px) {
        flex-direction: row;
        gap: 3em;
    }
    @media screen and (max-width: 600px) {
        flex-direction: column;
        gap: 1em;
    }
}

header {
    display: flex;
    @media screen and (min-width: 600px) {
        flex-direction: row;
        margin-bottom: 1em;
    }
    @media screen and (max-width: 600px) {
        flex-direction: column;
        margin-bottom: 0;
    }    
    justify-content: space-between;

    .page-header-name {
        @include utils.ahover(colors.$green, colors.$background-color);
        a, span {
            text-decoration: none;
            display: flex;
            align-items: center;
            font-size: x-large;
            font-weight: bold;
        }
    }

    .page-header-contact-list {
        ul {
            list-style: none;
            li {
                display: inline-block;
            }
        }
    }
}

#section-navigation {
    ol {
        li {
            color: colors.$cyan;
        }

        li:hover {
            background-color: colors.$cyan;
            color: colors.$background-color;
        }
    }
    @include utils.ahover(colors.$cyan, colors.$background-color);
}

.exp-header {
    margin-bottom: 10px;
    .exp-header-title {
        color: colors.$purple;
        font-weight: bold;
    }

    .exp-header-time {
        color: colors.$comment;
    }
}


.exp-subsection {
    margin-bottom: 30px;
}

.exp-sublist {
    @media screen and (min-width: 600px) {
        columns: 2;
    }
    @media screen and (max-width: 600px) {
        columns: 1;
    }
    
    column-gap: 30px;
    li {
        max-width: fit-content;
    }
    
}

.subheader {
    margin-bottom: 10px;
    text-decoration: underline;
    color: colors.$orange;
}

article {
    display: none;
    
}
article.selected {
    display: block;
}

.tech-category {
    color: colors.$green;
}

#mobile-warning {
    margin-top: 10px;
    color: gray;
    @media screen and (min-width: 600px) {
        display: none;
    }
    @media screen and (max-width: 600px) {
        display: block;
    }
}

.b {
    font-weight: bold;
}

.c-green {
    color: colors.$green;
}

.c-orange {
    color: colors.$orange;
}

.c-purple {
    color: colors.$purple;
}

.c-cyan {
    color: colors.$cyan;
}

.tech-section {
    .subheader {
        margin-bottom: 0;
    }
    margin-bottom: 10px;
}